<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551708197069-hp186r077hh04kblc5qkolveu9tva6u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551708197069-hp186r077hh04kblc5qkolveu9tva6u7</string>
	<key>API_KEY</key>
	<string>AIzaSyBrMMURhD208s5EPYbwWcXp7_te4zu3ap8</string>
	<key>GCM_SENDER_ID</key>
	<string>551708197069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Pranav.scheduler</string>
	<key>PROJECT_ID</key>
	<string>scheduler-pranav-project1</string>
	<key>STORAGE_BUCKET</key>
	<string>scheduler-pranav-project1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551708197069:ios:22d495131efa1c22da2984</string>
</dict>
</plist>